* {
    font-family: sans-serif;
}

.admin-dashboard {
    display: flex;
    height: 100vh;
}

.admin-sidebar {
    background-color: #fbc02d;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.admin-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.admin-info {
    text-align: center;
    font-weight: 800;
}

.status {
    color: green;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-nav ul li {
    margin: 15px 0;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    background-color: #f1f1f1;
    padding: 20px;
}

.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.navbar-logo {
    font-size: 1.5em;
}

.navbar-user {
    display: flex;
    align-items: center;
}

.navbar-user span {
    margin-right: 10px;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 2rem;
    justify-content: center;
}

.stats-overview {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.stat-box {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-box:nth-child(1) {
    background-color: #ffae00;
    /* Warna kuning */
}

.stat-box:nth-child(2) {
    background-color: #4caf50;
    /* Warna hijau */
}

.stat-box:nth-child(3) {
    background-color: #f44336;
    /* Warna merah */
}


.stat-number {
    font-size: 2em;
    margin-bottom: 10px;
}

.latest-reports {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.latest-reports table {
    width: 100%;
    border-collapse: collapse;
}

.latest-reports th,
.latest-reports td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.report-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-number {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}

.summary-details {
    display: flex;
    justify-content: space-around;
}

.detail-box {
    text-align: center;
}

.detail-number {
    font-size: 2em;
    margin-bottom: 10px;
}