.profil_cont {
  width: 100%;
  padding-top: 200px;
  position: relative;
  height: 150vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil_cont .profil_content {
  padding: 20px;
  background-color: white;
  width: 60%;
  height: auto;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.profil_cont h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 5px 10px 10px black;
  margin-bottom: 100px;
}

.profil_cont .profil_content .profile_img img {
  width: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: drop-shadow(10px 10px 10px black);
  -webkit-filter: drop-shadow(10px 10px 10px black);
  margin-bottom: 40px;
}

.profil_cont .profil_content .profile_value h2 {
  color: blue;
  font-weight: bold;
}
