body {
  background-image: url("/public/images/background.jpg");
  background-size: fill;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #212121;
  font-weight: 400;
}

.container {
  max-height: 100%;
}