body {
  background-image: url("/public/images/background.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #212121;
  font-weight: 400;
}
